@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Th';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-HvEx';
  src: url('../fonts/HelveticaNeueLTPro-HvEx.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-BdEx';
  src: url('../fonts/HelveticaNeueLTPro-BdEx.woff') format('woff');
  font-style: normal;
}

* {
  margin: 0;
}

body {
  font-family: 'LINESeedKR-Rg';
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  transition: background-color 2s ease-in-out;
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
}

.color-black {
  background: #000;
}

.color-blue {
  background: #54BFC8;
}

.margin-b {
  margin-bottom: 50px;
}

/* Headings ********************************************************************** */

.big-heading {
  font-family: 'HelveticaNeueLTPro-HvEx';
  font-size: 100px;
}

.medium-heading {
  font-family: 'LINESeedKR-Bd';
  font-size: 70px;
  line-height: 1.2;
  color: #535353;
}

.medium-heading:nth-child(2) {
  padding: 50px 0;
}

h3 {
  font-family: 'HelveticaNeueLTPro-BdEx';
  font-size: 20px;
}

h6 {
  font-size: 16px;
  margin-bottom: 20px;
}

.section-heading {
  font-family: 'LINESeedKR-Bd';
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 37px;
}

.heading-blue {
  color: #54BFC8;
}

p {
  line-height: 1.2;
  padding-bottom: 7px;
}

/* Containers ******************************************************************** */

.container-fluid{
  padding: 15% 15%;
}

.full-screen {
  position: relative;
  height: 100vh;
  min-height: 1024px;
}

.snap {
  height: 100vh;
  min-height: 1024px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.smooth {
  scroll-snap-type: none;
}

section {
  scroll-snap-align: start;
}

/* Navigation Bar **************************************************************** */
.navbar-brand img{
  height: 100px;
}

.navbar {
  padding: 0 15%;
  align-items: center;
  font-size: 16px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #54BFC8;
}

/* Title Section ***************************************************************** */

#title .big-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
}

.place {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
}

.date {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Question section **************************************************************** */

#question1 {
  background-color: #F1EFE5;
  color: #000;
}

#question1 .container-fluid{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#question2 {
  background-color: #45EBF9;
  color: #000;
}

#question2 .container-fluid{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#direction {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

/* Team Section ****************************************************************** */

.team-img {
  width: 99%;
  height: auto;
  border-radius: 17px;
}

.team-inst {
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.team-inst:hover {
  color: #54BFC8;
}

.div-rel {
  position: relative;
}

.item-team {
  margin-top: 25px;
}

/* Register Section ************************************************************** */

#register .margin-b {
  margin-bottom: 25px;
}

#register .btn {
  width: 400px;
  padding: 17px 0;
}

#register img {
  height: auto;
  width: 400px;
  padding: 25px 0;
}

#register ul {
  text-align: left;
}

.text-box {
  display: inline-block;
  text-align: center;
  width: 464px;
  word-break:keep-all;
}

/* countdown styles ***********************/

#countdown {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  padding: 25px;
  width: 400px;
  margin: auto;
}

.i-4 {
  flex-grow: 16;
}

.i-3 {
  flex-grow: 8;
}

.numbers {
  font-size: 3rem;
}

.strings {
  font-size: 1rem;
}

/* Time Line Section ************************************************************* */

#schedule p {
  margin-bottom: 0;
}

.time-content {
  text-align: left;
  background-color: #1A1F27;
  padding: 20px 20px;
  border-radius: 17px;
  margin-bottom: 25px;
}

.time-interval {
  color: #54BFC8;
  padding-right: 150px;
}

/* Event Section ***************************************************************** */

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: black;
  height: 330px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 330px;
  width: 250px;
  display: flex;
  align-items: center;
}

#event h2 {
  padding-bottom: 50px;
}

#event img {
  border: 25px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 40px #54BFC8;
}

#event p {
  word-break: keep-all;
}

.present {
  padding-top: 25px;
}

/* QnA Section ******************************************************************* */

.accordion {
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-radius: 17px;
  --bs-accordion-inner-border-radius: 17px;
  --bs-accordion-btn-padding-y: 1.5rem;
  --bs-accordion-btn-padding-x: 1.5rem;
  margin-bottom: 20px;
}

.accordion-item {
  color: #fff;
  background: #1A1F27
}

.accordion-button {
  font-size: 18px;
}

.accordion-button.collapsed {
  color: #fff;
  background: #1A1F27;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #1A1F27;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.q-title {
  color: #54BFC8;
  padding-right: 3rem;
}

.q-question {
  color: #54BFC8;
  padding-right: 75.65px;
}

.accordion-body {
  text-align: left;
  word-break: keep-all;
  padding-top: 0;
  color: #b0b8c1;
}

#qna p {
  margin-bottom: 0;
}

/* Contact Section *************************************************************** */

.contact-inst {
  color: #54BFC8;
}

.contact-inst:hover {
  color: #fff;
}

.contact-content {
  padding-top: 15px;
  padding-bottom: 20px;
}

/* Footer ************************************************************************ */

#foot {
  padding: 2% 15%;
}

footer {
  font-size: 1rem;
}

#foot span:nth-child(1){
  color: #54BFC8;
}

#foot span:nth-child(2){
  color: #535353;
}

/* Animation ********************************************************************* */

.fade-in {
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.7s ease-in-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

.light.appear {
  -webkit-animation: light-up 1s linear 0.7s 1 normal forwards;
  animation: light-up 1s linear 0.7s 1 normal forwards;
}

@-webkit-keyframes light-up {
  from {color: #535353;}
  to {color: #fff;}
}

@keyframes light-up {
  from {color: #535353;}
  to {color: #fff;}
}

/* Responsible ******************************************************************* */

@media (min-width: 1200px) {

  .margin-b {
    margin-bottom: 100px;
  }

  .two-line-title1 {
    display: none;
  }

}

@media (max-width: 1199px) {
  .medium-heading {
    font-size: 60px;
  }

  .full-screen {
    min-height: 850px;
  }
  
  .snap {
    min-height: 850px;
  }
}

@media (min-width: 992px) {
  .two-line-title {
    display: none;
  }

}

@media (max-width: 991px) {

  .place {
    top: 60%;
  }
  
  .date {
    top: 80%;
  }

  .big-heading {
    font-size: 70px;
  }

  .medium-heading {
    font-size: 50px;
  }

  .item-team {
    margin-bottom: 75px;
  }

  .v-video {
    width: 100%;
    height: 50vw;
  }

  #countdown {
    width: 100%;
  }

  #register .btn {
    width: 100%;
    padding: 17px 0;
  }

  .text-box {
    width: 100%;
  }

  .text-box ul {
    padding-left: 16px;
  }

}

@media (min-width: 774px) {
  .two-line {
    display: none;
  }
}

@media (max-width: 773px) {

  .full-screen {
    min-height: 600px;
  }
  
  .snap {
    min-height: 600px;
  }

  #team {
    font-size: 18px;
  }

  #info p {
    font-size: 1rem;
  }

  .big-heading {
    font-size: 3rem;
  }

  .place {
    font-size: 15px;
  }

  .medium-heading {
    font-size: 2rem;
  }
  
  .strings {
    font-size: 12px;
  }

  .event-p {
    padding: 0 5%;
  }

  .present {
    padding-top: 18px;
    font-size: 18px;
  }

  #event {
    padding: 20% 0;
  }

  .container-fluid{
    padding: 20% 5%;
  }

  #foot{
    padding: 2% 5%;
  }

  .navbar {
    padding: 0 5%;
  }

  .section-heading {
    font-size: 2rem;
  }

  body {
    font-size: 15px;
  }

  .accordion {
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-padding-x: 1rem;
  }

  .accordion-button {
    font-size: 15px;
    line-height: 2;
    word-break: keep-all;
  }

  #register img {
    width: 300px;
  }

}

@media (min-width: 410px) {
  .title-m {
    display: none;
  }
}

@media (max-width: 409px) {
  .title-w {
    display: none;
  }

  #info p {
    font-size: 13px;
  }
}
