
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #152126;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.btn {
  width: 150px;
  border-radius: 50px;
}

.left {
  text-align: left;
}

.margin-b {
  margin-bottom: 50px;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.heading-orange {
  color: #FF7A00;
}

/* Containers */

.container-fluid{
  padding: 7% 18%;
  max-width: 1920px;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
  align-items: end;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Team Section */

.team-img {
  width: 99%;
  height: auto;
  border-radius: 17px;
  margin-bottom: 25px;
}

.item-abs-team {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
}

.item-abs-team-blk {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #000;
}

/* Register Section */

.color-div {
  height: 320px;
  width: 100%;
  border-radius: 17px;
  background-color: #ED7A3F;
  color: #000;
  padding: 50px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

/* Share Section */

.share-div {
  height: 400px;
  width: 100%;
  border-radius: 17px;
  background-image: url("../images/share-img.png");
  background-size: coveer;
  background-size: 100% 100%;
  color: #000;
  padding: 50px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.share-div-2 {
  height: 400px;
  width: 100%;
  border-radius: 17px;
  background-image: url("../images/share-img.png");
  background-size: coveer;
  background-size: 100% 100%;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-rel {
  position: relative;
}

.item-abs {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #000;
}

/* QnA Section */

.accordion-button {
  background-color: #152126;
  color: #fff;
}

.accordion-item {
  border-color: #fff;
  background-color: #152126;
  color:#fff;
}

.accordion-flush .accordion-item:first-child {
  border-top: solid 1px;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: solid 1px;
}

@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");
.accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  background-image: none;
}

.accordion-button.collapsed::after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  background-image: none;
}

@media (min-width: 1400px) {

  .share-div {
    height: 600px;
    padding: 100px;
  }

  .item-abs {
    top: 100px;
    left: 100px;
  }

  .color-div {
    height: 450px;
  }

  .margin-b {
    margin-bottom: 100px;
  }

}

@media (max-width: 991px) {

  .two {
    display: none;
  }

  .share-div {
    display: none;
  }

  .item-abs {
    display: none;
  }

  .color-div {
    text-align: center;
    align-items: center;
  }

  .share-div-2 {
    text-align: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../images/share-img.png");
  }

}

@media (min-width: 992px) {

  .one {
    display: none;
  }

  .share-div-2 {
    display: none;
  }

}

@media (max-width: 767px) {
  .share-div-2 {
    height: 300px;
  }
}
